<div class="contentarea">
  <div>
    <h3><strong></strong></h3>
    <div class="create_new"><%= link_to 'Edit', edit_user_path(@user) %> | <%= link_to 'Back', users_path %></div>
  </div>
  <div class="clear"></div>
  <div class="content">
    <table class="emp_list">
      <thead>
        <tr>
          <td width="20%"><strong><%= @user.name %></strong></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Email</td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td>Phone</td>
          <td><%= @user.phone_number %></td>
        </tr>
        <tr>
          <td>organization</td>
          <td><%= @user.organization %></td>
        </tr>
        <tr>
          <td>Designation</td>
          <td><%= @user.designation %></td>
        </tr>
        <tr>
          <td>Current Organization</td>
          <td><%= @user.current_organization %></td>
        </tr>
        <tr>
          <td>Total Experience</td>
          <td><%= @user.total_experience %></td>
        </tr>
        <tr>
          <td>Relevant Experience</td>
          <td><%= @user.relevant_experience %></td>
        </tr>
        <tr>
          <td>Current CTC</td>
          <td><%= @user.current_ctc %></td>
        </tr>
        <tr>
          <td>Expected CTC</td>
          <td><%= @user.expected_ctc %></td>
        </tr>
        <tr>
          <td>Notice Period</td>
          <td><%= @user.notice_period %></td>
        </tr>
        <tr>
          <td>Permanent/Contract</td>
          <td><%= @user.employee_type %>
          </td>
        </tr>
        <tr>
          <td>Year of Passout </td>
          <td><%=@user.year_of_passout %>
          </td>
        </tr>
        <tr>
          <td>DOB</td>
          <td><%= @user.date_of_birth %></td>
        </tr>
        <tr>
          <td>Qualification</td>
          <td>
            <%= @user.qualification_name %>
          </td>
        </tr>
        <tr>
          <td>Skills</td>
          <td>
            <%= @user.skills.collect{|x| x.name}.join(", ") %>
          </td>
        </tr>
        <tr>
          <td>Current Location</td>
          <td><%= @user.current_location_name%>
          </td>
        </tr>
        <tr>
          <td>Preferred Location</td>
          <td>
            <%= @user.preferred_location_name %>
          </td>
        </tr>
        <tr>
          <td>Passport number</td>
          <td><%= @user.passport_number %></td>
        </tr>
        <tr>
          <td>Pan number</td>
          <td><%= @user.pan_number %></td>
        </tr>
        <tr>
          <td>Resume</td>
          <td><%= link_to(@user.attachment.filename, download_file_user_path(@user)) rescue "-"%></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

